@font-face {
  font-family: "yekan";
  src: url("./Yekan\ Bakh.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "yekan", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
}
a{
  color: white;
}
body {
  overflow-x: hidden;
}
header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999999;
  color: white;
  position: absolute;
  padding-right: 10%;
}
.navbar a {
  color: white;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 15px;
  text-decoration: none;
  margin: 0 5px;
}
.logo {
  padding-left: 8% !important;
}
.logo img {
  width: 60px;
  height: 60px;
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}
.slide img {
  width: 100%;
  height: 100%;
}
.active {
  opacity: 1;
}

/* Main */
main {
  height: auto;
  width: 100%;
  background: url(./img/back.jpg);
  background-position: center;
  background-size: cover;
}
/* ////////////////////////////////////////////// page products */
.Products {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* margin-top: 5px; */
}
.container {
  width: 85%;
  margin: auto;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.push {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.product-container {
  display: none;
}

.product-container.active {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  position: relative;
  overflow: hidden;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  height: 100%;

}
.product_img {
  width: calc(33% - 10px);
  margin-bottom: 15px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  margin-top: 10px;
}

.product img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.product img:hover {
  transform: scale(1.05);
}

.open-lightbox {
  width: 50%;
  height: 15%;
  padding: 5px 10px;
  background-color: #ffffff00;
  color: white;
  border: 1px solid #ffffff !important;
  border-radius: 20px !important;
  position: absolute;
  left: 50%;
  bottom: 10px;
  cursor: pointer;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 800;
}

.open-lightbox:hover {
  scale: 1.1;
  transition: all ease-in-out 0.3s;
}

#prevPage {
  margin: 20px;
  color: #000;
  background-color: #ffffff00;
}
#lightboxDetails{
   border: 1px solid white;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  background-color: hsla(6, 84%, 95%, 0.484);
}
#loadMore {
  color: #000;
  margin: 20px;
}

.btn1 {
  background-color: rgba(255, 255, 255, 0);
  border: none !important;
  outline: none !important;
  
 
}

.nextt {
  color: hsl(356.47deg 94.85% 45.69%);
  font-weight: 900;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  width: 60%;
  margin-bottom: 25px;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* About US */
.container-about {
  width: 69%;
}

.about-us {
  height: auto;
  width: 100%;
}
.about h1 {

  padding-top: 30px;
}
.text-about {
  border: 1px solid white;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  background-color: hsla(6, 84%, 95%, 0.484);
}
.text1 {
 
  word-spacing: 1px;
  text-align:justify;


}
.text {
  
  font-size: 30px;
}
/* Team */
.team {
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.emloyee img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.emloyee p{
  font-size: 26px;
}

/* cOMPANY */

.company div {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0px;
  background-color: hsla(6, 84%, 95%, 0.484);
  height: 500px;
  overflow: hidden;
}
.company div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.3;
}

/* Download Part */

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.catalog img {
  width: 350px;
  height: 260px;
  border-radius: 10px;
}
.download {
  margin-right: 40px;
}
.download a {
  padding: 8px 30px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    hsl(157.99deg 79.43% 34.31%),
    hsl(228.16deg 84% 34.31%),
    hsl(302.82deg 43.15% 38.63%)
  );

  /* (hsl(157.99deg 79.43% 34.31%),hsl(228.16deg 84% 34.31%),hsl(302.82deg 43.15% 38.63%)); */
}

/* Footer */

/* Contacts */
footer {
  width: 100vw;
  padding-top: 20px;
  position: relative;
  /* height: auto; */
  background: url("./img/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    hsl(158, 79%, 34%),
    hsl(228, 84%, 34%),
    hsl(303, 43%, 39%)
  );
  opacity: 0.7;
  top: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  height: 100%;
  z-index: 2;
  /* opacity: 1; */
}

.container-footer {
  position: relative;
  z-index: 5;
  width: 70%;
  color: white;
}
.contacts {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .contacts img {
  width: 200px;
  height: 200px;
  z-index: 5;
}
footer .contacts .contact-containt {
  width: 50%;
}
footer .contacts .contact-containt .numbers {
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
}
footer .contacts .contact-containt .numbers img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  z-index: 5;
}
footer .contacts .contact-containt .numbers .what {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  z-index: 5;
  
}


footer .contacts .contact-containt .numbers div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  z-index: 5;
}
.colq{
  margin: 0 !important;
  padding: 0 !important;
  border-left: 2px solid white;
  border-radius: 2.5px;
  padding: 0 0 0 3rem;
}

footer .contacts .address {
  z-index: 5;

  padding: 1.2rem;
}
footer .contacts .address p {
  z-index: 5;

  padding: 0.4rem;
  font-weight: 100;
  font-size: 22px;
}
footer .contacts .address p span {
  z-index: 5;

  font-weight: 900;
  font-size: 24px;
}

.map {
  height: 300px;
  width: 100vw !important;
}

.copy {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #353333;
  color: white;
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy p{
  width: 70%;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');



.read-more-container{
  display: flex;
  flex-direction: column;
  color: #111;
  gap: 1rem;
}



.read-more-btn{
  color: #0984e3;
  font-size: 22px;
}

.read-more-text{
  display: none;
}

.read-more-text--show{
  display: inline;
}